<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yws.springbatis.dao.UserDao" >
    <resultMap id="UserPoMap" type="userPo" >
        <id column="id" property="id" />
        <result column="user_name" property="username" />
        <result column="email" property="email" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, user_name, email
    </sql>
    <select id="findAll" resultMap="UserPoMap">
        select
        <include refid="Base_Column_List" />
        from t_user
    </select>
</mapper>